#define VERINF1 1
VERINF1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "fearless\0"
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "FileDescription", "Directory Opus Viewer Plugin x64 for MOS file format by fearless\0"
      VALUE "InternalName", "MOSViewer\0"
      VALUE "LegalCopyright", "fearless 2019\0"
      VALUE "OriginalFilename", "MOSViewer\0"
      VALUE "ProductName", "MOSViewer\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
